@model IEnumerable<SalesMvc.Models.Department>

@{
    ViewData["Title"] = "Departments";
}

<h2>Departments</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <h5>@Html.DisplayNameFor(model => model.Name)</h5>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td>
                    <div class="modal-footer">
                        <a button type="button" class="btn btn-default" data-dismiss="modal" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a button type="button" class="btn btn-default" data-dismiss="modal" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a button type="button" class="btn btn-default" data-dismiss="modal" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
